
body{
  margin:0;
  background-color:#E7D2CC;
}


/* header */
.title{
  display: flex;
  justify-content:space-between; 
  margin-left:0;
  margin-right:0;
  margin-top:0;
  margin-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  background-color:#660d66;
  color:#75E6DA;
  font-weight: bold;
  font-size: 22px;
  border: 5px solid #FCB5AC;
  border-radius:15px;
  height: 150px;
} 

.img-logo{
  width: 100px;
  border-radius:15px;
}

.head-title{
text-align: center;
color:#660d66;
font-weight: bold;
font-size: 28px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* timer  */
.timer {
  display: flex;
  justify-content: center;
}

.img-timer{
  width: 300px;
  height: 330px;
  border:solid 3px #B6E2D3;
  border-radius:20px;
}

.timer-block {
  display: flex;
  border: 4px solid #C3E0E5;
  background-color:#167D7F;
  border-radius: 15px;
  padding:15px 17px;
  margin-left:15px;
  margin-right:15px;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  font-size: 36px;
  color:#DDFFE7;
}

/* item menu */
.container{
  display: flex;
  
}
.menu__item{
margin-left:5px;
margin-right: 5px;
}

.item-subtitle {
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
  text-align: center;
}
.item-descr{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
}

/* modal */
.modal {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 420px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 2px #666;
  background-color: #212529;
  color: whitesmoke;
}

.modal-inner{
  width: 290px;
  margin: 0 auto;
}

.modal-inner-loading{
  text-align: center;
}

.close-modal-btn-container{
  text-align: right;
  margin: 9px;
}

.modal-close-btn {
font-size: 22px;
font-weight: bold;
background-color: transparent;
border: 1px solid transparent;
color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}

.modal-btn{
  padding: 10px 24px;
  cursor: pointer;
}
.modal-text{
  height: 140px;
  line-height: 23px;
  margin-bottom: 0;
}